spring:
  profiles:
    group:
      "local": "local"
      "prod": "prod"
  config:
    import:
      - submodule-config/application.prod.yml
#      - submodule-config/application.local.yml
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    prometheus:
      enabled: true
    metrics:
      enabled: true
