name: Java CI with Gradle

on:
  push:
    branches: [ "dev" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Jasypt 키 주입
        run: |
          echo ${{ secrets.JASYPT }} | base64 -di >> ./src/main/resources/application.yml

      - name: Create Firebase Key
        run: |
          echo ${{ secrets.FIREBASE_KEY }} | base64 -di >  ./src/main/resources/firebase-adminsdk-service-key.json


      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew clean build -Pprofile=test

      - name: Run Tests
        run: ./gradlew :test

      - name: 테스트 결과를 PR에 코멘트로 등록합니다
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: '**/build/test-results/test/TEST-*.xml'

      - name: 테스트 실패 시, 실패한 코드 라인에 Check 코멘트를 등록합니다
        uses: mikepenz/action-junit-report@v3
        if: always()
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
